<!-- layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en-GB">
    <link rel="stylesheet" href="/styles/#">
    <title>Project INAB</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/transactions">Transactions</a> </li>
          <li> <a href="/transactions/new">New Transaction</a> </li>
          <li> <a href="/categories">Categories</a> </li>
          <li> <a href="/categories/new">New Category</a> </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Project I Need A Budget</h1>
      <%= yield %>
    </main>
    <footer>
      With thanks to the team at <a href="https://www.youneedabudget.com/" target="_blank">YNAB</a> for inspiration.
    </footer>

  </body>
</html>
<!-- layout.erb -->
