<!-- layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en-GB">
    <link rel="stylesheet" href="/styles/#">
    <title>Project INAB</title>
  </head>
  <body>
    <header>

    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>

  </body>
</html>









<!-- layout.erb -->
