<!-- layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en-GB">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles/structure.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <title>Project INAB</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/transactions">Transactions</a> </li>
          <li> <a href="/transactions/new">New Transaction</a> </li>
          <li> <a href="/accounts">Accounts</a> </li>
          <li> <a href="/accounts/new">New Account</a> </li>
          <li> <a href="/categories">Categories</a> </li>
          <li> <a href="/categories/new">New Category</a> </li>
          <li> <a href="/vendors">Vendors</a> </li>
          <li> <a href="/vendors/new">New Vendor</a> </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Project I Need A Budget</h1>
      <%= yield %>
    </main>

    <footer>
      With thanks to the team at <a href="https://www.youneedabudget.com/" target="_blank">YNAB</a> for inspiration.
    </footer>

  </body>
</html>
<!-- layout.erb -->
