<!-- vendors/edit.erb -->

<h2>Edit Vendor</h2>

<form class="" action="/vendors" method="get">
  <label for=""></label>
  <input type="submit" name="" value="Cancel">

</form>

<form class="" action="/vendors/<%= @vendor.id %>" method="post">

</form>

<!-- vendors/edit.erb -->
