<!-- vendors/edit.erb -->



<fieldset>
  <legend>Edit Vendor</legend>
  <div class="">
    <div class="padding--4">

      <form class="" action="/vendors" method="get">
        <input class="button" type="submit" name="" value="Cancel">
      </form>
    </div>

    <form class="" action="/vendors/<%= @vendor.id %>" method="post">
      <div class="padding--4">

        <label for="name_input">Name: </label>
        <input id="name_input" type="text" name="name" value="<%= @vendor.name %>" autofocus="autofocus">
      </div>
      <div class="padding--4">

        
        <input class="button confirm" type="submit" name="update_vendor" value="Save Changes">
      </div>
    </form>


    <div class="">
      <form class="" action="/vendors/<%= @vendor.id %>/delete" method="post">

        <div class="padding--4">
          <label for="">Before deleting a vendor ensure you have removed all references to that vendor from your transactions.</label>
          <input class="button warning" type="submit" name="delete_vendor" value="Delete Vendor">
        </div>

      </form>
    </div>
  </div>
</fieldset>


<!-- vendors/edit.erb -->
