<!-- /vendors/new.erb -->
<fieldset>
  <legend>New Vendor</legend>

<div class="">
  <div class="padding--4">

  <form class="" action="/vendors" method="get">
    <label for=""></label>
    <input type="submit" name="" value="Cancel">
  </form>
</div>

  <form class="" action="/vendors" method="post">
    <div class="padding--4">

    <label for="name_input">Vendor Name: </label>
    <input id="name_input" type="text" name="name" value="" autofocus="autofocus" >
  </div>
  <div class="padding--4">

    <label for=""></label>
    <input  class="confirm" type="submit" name="add_vendor" value="Add Vendor">
  </div>
  </form>
</div>
</fieldset>


<!-- /vendors/new.erb -->
