<!-- accounts/edit.erb -->
<fieldset>
  <legend>Edit Account</legend>
  <div class="">

    <div class="padding--4">
      <form class="" action="/accounts" method="get">
        <input class="button" type="submit" name="" value="Cancel">
      </form>
    </div>

    <div class="">

      <form class="" action="/accounts/<%= @account.id %>" method="post">
        <div class="padding--4">
          <label for="name_input">Name: </label>
          <input id="name_input" type="text" name="name" value="<%= @account.name %>" autofocus="autofocus">
        </div>

        <div class="padding--4">
          <input class="button confirm" type="submit" name="update_account" value="Save Changes">
        </div>
      </form>

      <div class="padding--4 <%= 'hidden' if @transactions_count > 0 %>">
        <form class="" action="/accounts/<%= @account.id %>/delete" method="post">
          <input class="button warning" type="submit" name="" value="Delete Account">
        </form>
      </div>
    </div>
  </div>
</fieldset>
