<fieldset>
  <legend>Edit Account</legend>
  <div class="">

    <div class="padding--4">

      <form class="" action="/accounts" method="get">
        <input type="submit" name="" value="Cancel">

      </form>
    </div>

    <form class="" action="/accounts/<%= @account.id %>" method="post">
      <div class="padding--4">

        <label for="name_input">Name: </label>
        <input id="name_input" type="text" name="name" value="<%= @account.name %>" autofocus="autofocus">
      </div>
      <div class="padding--4">


        <input class="confirm" type="submit" name="update_account" value="Save Changes">
      </form>
    </div>
    <div class="padding--4">
      <form class="" action="/accounts/<%= @account.id %>/delete" method="post">
        <label for="">Before deleting an account ensure you have removed all references to that account from your transactions</label>
        <input class="warning" type="submit" name="" value="Delete Account">
      </form>
    </div>
  </div>
</fieldset>
