<fieldset>
  <legend>Accounts</legend>
  <div class="">


    <table>
      <thead>
        <tr>
          <th>Account Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @accounts.each do |account| %>
          <td><a href="/accounts/<%= account.id %>/edit"> <%= account.name %></a></td> 
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</fieldset>
