<fieldset>
  <legend>Accounts</legend>
  <div class="">


    <table>
      <thead>
        <tr>
          <th>Account Name</th> <!--<th>Sort Code</th> <th>Account Number</th>-->
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @accounts.each do |account| %>
          <td><a href="/accounts/<%= account.id %>/edit"> <%= account.name %></a></td> <!--<td></td> <td></td>-->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</fieldset>
