<h2>Add New Account</h2>

<form class="" action="/accounts" method="get">
  <label for="cancel"></label>
  <input id="cancel" type="submit" name="" value="Cancel">
</form>

<form class="" action="/accounts" method="post">
  <label for="name_input">Account Name: </label>
  <input id="name_input" type="text" name="name" value="">

  <label for=""></label>
  <input type="submit" name="" value="Add Account">

</form>
