<!-- categories/edit.erb -->
<fieldset>
  <legend>Edit Spending Category</legend>
  <div class="">

    <div class="padding--4">

      <form class="" action="/categories" method="get">
        <!-- returns to list of existing categories -->
        <input  class="button" type="submit" name="cancel" value="Cancel">
      </form>
    </div>

    <form class="" action="/categories/<%= @category.id %>" method="post">
      <!-- displays and allows changes to a single category -->
      <div class="padding--4">
        <label for="category_name_input">Name: </label>
        <input id="category_name_input" type="text" name="name" value="<%= @category.name %>" autofocus="autofocus">
      </div>
      <div class="padding--4">
        <label for="category_budget_input">Budget: </label>
        <input id="category_budget_input" type="number" name="budget" value="<%= Display.amount(@category.budget) %>" step="0.01">
      </div>
      <div class="padding--4">
        <input class="button confirm" type="submit" name="add_category" value="Save Changes">
      </div>
    </form>

    <div class="padding--4">

      <form class="" action="/categories/<%= @category.id %>/delete" method="post">
        <label class="label--autosize" for="delete_category">Before deleting a category ensure you have removed all references to that category from your transactions.</label>
        <input class="button warning" id="delete_category" type="submit" name="delete_category" value="Delete Category">
      </form>
    </div>
  </div>
</fieldset>
<!-- potentially add category budget here -->






<!-- categories/edit.erb -->
