<!-- categories/index.erb -->
<table>
  <caption>Spending by Category</caption>
  <thead>
    <th>Category</th> <th>Remaining</th> <th colspan="2">Total Spend</th>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <td><a href="/categories/<%= category.id %>/edit"><%= category.name %></a></td> <td>TO DO</td> <td>£</td> <td><%= Display.amount(Transaction.sum_by_category(category.id)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
