<!-- categories/index.erb -->
<table>
  <caption>Spending by Category</caption>
  <thead>
    <tr>
      <th>Category</th> <th colspan="2">Remaining</th> <th colspan="2">Total Spend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <% total_spent = Transaction.sum_by_category(category.id) %>
      <td><a href="/categories/<%= category.id %>/edit"><%= category.name %></a></td> <td>£</td> <td><%= Display.amount(category.budget - total_spent) %></td> <td>£</td> <td><%= Display.amount(total_spent) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
