<!-- categories/new.erb -->
<fieldset>
  <legend>New Category</legend>
  <div class="">
    <div class="padding--4">

    <form class="" action="/categories" method="get">
      <!-- returns to list of existing categories -->
      <label for="cancel_action"></label>
      <input id="cancel_action"type="submit" name="cancel" value="Cancel">
    </form>
  </div>



    <form class="" action="/categories" method="post">
      <div class="padding--4">
        <label for="category_name_input">Name: </label>
        <input id="category_name_input" type="text" name="name" value="">
      </div>

      <div class="padding--4">
        <label for="category_budget_input">Budget: </label>
        <input id="category_budget_input" type="number" name="budget" value="0.00" step="0.01">
      </div>

      <div class="padding--4">
        <label for="add_category"></label>
        <input  class="confirm" id="add_category" type="submit" name="add_category" value="Add Category">
      </div>

    </form>
  </div>
</fieldset>



<!-- categories/new.erb -->
