* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}





h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

main {

}

nav {

}

nav ul {
  list-style-type: none;
}


.align-right {
  text-align: right;
}

.confirm {
  background-color: green;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.warning {
  background-color: red;
}
