html {
  box-sizing: border-box;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


fieldset {
  margin-top: 12px;
  margin-bottom: 16px;
}

fieldset > * {
  padding: 16px;
}

fieldset legend {
  font-size: 1.3em;
  margin-left: 4px;
  padding: 0
}

footer {
  font-size: small;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}


main {

}

nav {
  /* font-size: small; */
}

nav ul {
  list-style-type: none;
}


.align-right {
  text-align: right;
}

.confirm {
  background-color: green;
}

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.padding--4 {
  padding: 4px;
}


.warning {
  background-color: red;
}

.wrapper {
  padding: 12px;
  position: relative;
}
