table {
  padding: 12px;
  border: 0;
}

thead {
  font-size: 1.2em;
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  padding: 8px;
}

td {
  font-size: 1em;
  font-weight: 100;
  padding: 4px 8px;
}
