table {
  padding: 12px;
  border: 1px dashed black

}

caption {
  font-size: 1.6em;
  border: 1px dotted black
}

thead {
  font-size: 1.2em;
}

td {
  font-size: 1em;
  font-weight: 100;
  /* padding: 8px; */
  border: 1px solid black
}
