<!-- /transactions/index.erb -->
<h2>All Transactions</h2>
<nav>
  <ul>
    <li>Filter Transactions</li>
  </ul>
</nav>

<table>
  <thead>
    <th>Vendor</th> <th>Category</th> <th>Amount</th>
  </thead>
<% @transactions.each do |transaction| %>
<tr>
  <td><%= transaction.vendor().name %></td> <td><%= transaction.category().name %></td> <td><%= transaction.amount() %></td> <td> <a href="/transactions/:id/edit">edit</a> </td>
</tr>


<% end %>
<tr>
  <td colspan="2">Total:</td> <td><%= Transaction.sum_all() %></td> <td></td>
</tr>
</table>




<!-- /transactions/index.erb -->
