<!-- index.erb -->

<h2>Budget Summary</h2>
<table>
  <thead>
    <th>Category</th> <th>Remaining</th> <th colspan="2">Total Spend</th>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <td><%= category.name %></td> <td>TO DO</td> <td>£</td> <td><%= Display.amount(Transaction.sum_by_category(category.id)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>




<!-- def self.sum_by_category(category_id)
  transactions = Transaction.select_by_category(category_id)
  sum = Transaction.sum_filtered(transactions)
  return sum
end -->
